

<html> <head> <style type="text/css">{  }

body {
  background-image: url("")
}

A { color: blue; 
 text-decoration: none;
 font-size: 11pt;
font-family: arial, helvetica, sans-serif;
 }

A:hover { color: black; }

#shadow {
    border: 2px solid #CC6600;
    padding: 10px;
    box-shadow: 5px 10px #666666;
}

P { color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

TD { color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

.deadlines td {
    padding-right:10px;
}

LI { color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

P.dir { color: #666666; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.6cm }

H1 { color: black; 
 text-decoration: none;
 font-size: 26pt;
font-family: arial, helvetica, sans-serif;
}

H2 { color: black; 
 text-decoration: none;
 font-size: 20pt;
font-family: arial, helvetica, sans-serif;
}

H3 { color: #ffffff; 
 text-decoration: none;
 font-size: 13pt;
font-family: arial, helvetica, sans-serif;
 padding : 5px;
 background-color: #CC6600;
}


TD.myphoto { width: 150px; }
TD.articles { width: 350px; }

-->

</STYLE>

</HEAD>

</HTML>

